[Bb]in/
[Oo]bj/

.idea/
*.sln.iml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo


*.log
*.cache
*.tmp
*.temp
*.swp
*.~*
~*.*

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store

*.nupkg
packages/
!packages/build/
!packages/repositories.config