[Bb]in/
[Oo]bj/
[Oo]ut/
TestResults/

.idea/
*.sln.DotSettings.user
*.ReSharper.user
_ReSharper.*/
*.DotSettings.user

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.jfm

# 4. Pakiety NuGet
*.nupkg
packages/
project.lock.json
project.assets.json

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

*.log
*.err
crashlytics-build.properties
core

*.pubxml.user
*.pubxml

.env
.env.local